.select{
    background-color: white;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
    width: 20%;
    border: 2px solid aqua;
    font-weight: bold;
    cursor: pointer;
    min-width: 200px;
}

.select:hover{
    background-color: aqua;
    border: 2px solid black;
    transition: all 0.5s; 
}
